---
// @ts-ignore
import { Icon } from "astro-icon/components";
---

<div class="bg-gradient-to-br from-blue-100 via-blue-100 to-blue-100 py-16">
  <h2 class="text-center text-slate-500">Trabajamos con las disciplinas de danza</h2>
  <div class="flex gap-8 md:gap-20 items-center justify-center mt-10 flex-wrap">

    <Icon class="size-8 md:size-12 text-blue-500" name="mdi:home-heart" />
    <Icon class="size-8 md:size-12 text-blue-500" name="mdi:music-note" />
    <Icon class="size-8 md:size-12 text-blue-500" name="mdi:account-group" />
    <Icon class="size-8 md:size-16 text-blue-500" name="mdi:theater" />
    <Icon class="size-8 md:size-16 text-blue-500" name="mdi:format-list-bulleted" />
    <Icon class="size-8 md:size-12 text-blue-500" name="mdi:run" />

  </div>
</div>
